= form_for @project_membership do |f|
  -if @project_membership.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project_membership.errors.count, "error")} prohibited this project_membership from being saved:"
      %ul
        - @project_membership.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
