#welcome
  .wrap
    %hgroup
    %h2 How can you change the world?
    = image_tag("earth.png", :class => "earth")
    %p.description Find projects across the globe that need skilled help. Pay it forward. It's as easy as three steps:
    %ol
      %li 
        = link_to "Register", "/auth/twitter", :class => :button
      %li
        %a{:href => "#"} Find a Project
      %li
        = link_to "Create a Project", "projects/new", :class => :button
/ #welcome
.wrap
  #projects
    .showing
      Showing
      %a{:href => "#"} all projects
      needing
      %a{:href => "#"} developers
    / .showing
    -@projects.each do |project|
      %article
        %header
          %hgroup
            %h1 
              = project.name.strip
            %h2 
              = project.description
        %img{:src => "http://lorempixel.com/400/250/"}
        %dl
          %dt Needs
          %dd Developers
          %dd Engineers
        %a.join{:href => "#"} Join this Project
