<!doctype html>
<html lang="en">
  <head>
<<<<<<< HEAD
=======

    <%= render :partial => 'fonts' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

>>>>>>> 3d9ece351d723b04f9009d92e487f1abe28adbdc
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>hack2unite</title>

    <!-- Meta tags -->
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Don't forget to update the bookmark icons (favicon.ico and apple-touch-icons) in the root: http://mathiasbynens.be/notes/touch-icons -->

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/main.css?version=1" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    

    <!-- JavaScript -->
    <!--[if IE]><![endif]-->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="assets/js/respond.min.js"></script>
  </head>
  <body>
    <header role="banner">
      <div class="wrap">
      <h1><a href="/">hack<span>2</span>unify</a></h1>
      
      <nav>
        <ul>
          <li><a href="#">My Projects</a></li>
          <li><a href="#">New Project</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </nav>
      </div>
    </header>
  <div class="nav">
    <% if logged_in_actor %>
      Welcome, <%= logged_in_actor.name %>!
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      Welcome, <%= current_actor.name %>!
      <%= link_to "Sign in with Twitter", "/auth/twitter", :class => :button %>
    <% end %>
  </div>
  <div class="menu">
    <%= link_to "Projects", projects_path %>
    <%= link_to "Activities", activities_path %>
    <%= link_to "My Account", actor_path(current_actor) %>
  </div>
</div>

<% if flash[:warning] or flash[:notice] %>
  <div class="notice">
    <%= flash[:warning] || flash[:notice] %>
  </div>
<% end %>

<div class="content">
  <%= yield %>
<div>

</body>
</html>
